<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
<% movies.forEach(function(movie) { %>
  <div>
  <%= movie.title %>
  <a href="<%= `/movies/${movie.id}/edit` %>"><button>Edit</button></a>
  <a href="<%= `/movies/${movie.id}` %>"><button>Movie Info</button></a>
  <form action="<%= `/movies/${movie.id}?_method=DELETE` %>" method="POST">
   <button type="submit">Delete</button>
  </form>
  </div>
<% }); %>

	
</body>
</html>