<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
 <title><%= title %></title>
<% include ../partials/templates/head.ejs %>

<body>
  <span><%= movie.title %></span>
  <span><%= movie.synopsis %></span>
</body>
</html>
=======
<head>
	<meta charset="UTF-8">
	<title> movie info</title>
</head>
<body>
	<span><%= movie.title %></span>
	<span><%= movie.synopsis %></span>
	<a href="/movies"><button>Back</button></a>
</body>
</html>
>>>>>>> master
